h1{
    color: #F6CE71;
    font-size: 45pt;
    text-align: center;
}
h4
{
    color:#F6CE71;;
    text-align: center;
    font-size: 16pt;
}
body{
    background-color:#b62525;
}

.bitcount-prop-single{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.container
{
    height: 400px;
    width: 400px;
    background-color:#F6CE71;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    padding: 5px;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.cen
{
    display: flex;
    justify-content: center;
}
.main
{
    background-color: #CC561E;
    margin: 5px;
    border-radius: 15%;
}
.a1
{
    background-color: purple;
}
.a2
{
    background-color: cyan;
}
.a3
{
    background-color: green;
}
.a4
{
    background-color: black;
}
@media (max-width: 768px) {
    h1 {
        font-size: 32pt ;
    }

    h4 {
        font-size: 20pt;
    }

    .container {
        width: 90vw;
        height: 90vw;
        padding: 6px;
        border-radius: 18px;
        grid-template-columns: repeat(4, 1fr);
    }

    .main {
        margin: 4px;
        border-radius: 14%;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: clamp(28px, 7vw, 38px);
    }

    h4 {
        font-size: 13px;
    }

    .container {
        width: 94vw;
        height: 94vw;
        padding: 5px;
        border-radius: 16px;
    }

    .main {
        margin: 3px;
        border-radius: 12%;
        aspect-ratio: 1 / 1;
    }
}
