h1{
    color: #FF7444;
    font-size: 45pt;
    text-align: center;
}
body{
    background-color:#B7BDF7;
}

.bitcount-prop-single{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}