h1{
    color: #FF7444;
    font-size: 45pt;
    text-align: center;
}
h4
{
    color:#FF7444;;
    text-align: center;
    font-size: 16pt;
}
body{
    background-color:#B7BDF7;
}

.bitcount-prop-single{
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.container
{
    height: 700px;
    width: 600px;
    background-color:#FFF8DE;
    border-radius: 7%;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    padding: 10px;
}
.cen
{
    display: flex;
    justify-content: center;
}
.main
{
    background-color: #576A8F;
    margin: 10px;
    border-radius: 15%;
}